#customers {
  border-collapse: collapse;
  width: 98%;
}

table {
  margin: 1% 0% 0% 1%;
}

.footer-basic {
  margin-top: 2%;
}


#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

a {
  text-decoration: none;
  color: #000000;
}

.center-select {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1%;
}

#customers tr:nth-child(even){
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #000000;
  color: white; 
  width: 20px;
}